<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <appender name="ASYNC_AWS_LOGS" class="ca.pjer.logback.AwsLogsAppender">
        <layout>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </layout>
        <logGroupName>producto-log-group</logGroupName>
        <logStreamUuidPrefix>producto-service-</logStreamUuidPrefix>
        <logRegion>us-east-1</logRegion>
        <!-- Con LocalStack -->
        <customEndpoint>${LOCALSTACK_ENDPOINT:http://localhost:4566}</customEndpoint>
        <accessKeyId>test</accessKeyId>
        <secretAccessKey>test</secretAccessKey>
        <maxBatchLogEvents>50</maxBatchLogEvents>
        <maxFlushTimeMillis>30000</maxFlushTimeMillis>
        <maxBlockTimeMillis>5000</maxBlockTimeMillis>
        <retentionTimeDays>0</retentionTimeDays>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ASYNC_AWS_LOGS" />
    </root>
</configuration>
